table(class="#{show_name ? '' : 'big'}")
  tr
    - if (show_name)
      th.name Nome
    th.artist Artista
    th.plays # de Plays
    th.djs DJs que tocam
    th.last-play Último Play
  - each track in tracks
    tr
      - if (show_name)
        td= track.name
      td= track.artist
      td= typeof(track.plays) == "number" ? track.plays : track.plays.length
      td= track.djs.join(', ')
      td= dateFormat(track.updated_at, "%b %d %H:%M")