table
  tr
    - if (show_name)
      th Nome
    th Artista
    th # de Plays
    th DJs que tocam
    th Último Play
  - each track in tracks
    tr
      - if (show_name)
        td= track.name
      td= track.artist
      td= typeof(track.plays) == "number" ? track.plays : track.plays.length
      td= track.djs.join(', ')
      td= dateFormat(track.updated_at, "%b %d, %Y %H:%M")