!!! 5
html.no-js(lang='en')
  head
    meta(charset="utf-8")
    meta(name="description", content="Uma rádio online que só toca o melhor de todos os estilos.")
    meta(name="author", content="Pedro Mateus Tavares")
    meta(name="keywords", content="radio, rádio, galere, dj, pedro mateus tavares")
    title Rádio da Galere
  
    link(href="/images/favicon.png", rel="shortcut icon")
  
    // Mobile viewport optimized: j.mp/bplateviewport
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  
    // CSS : Fonts
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Lobster")

    // CSS : Change this if you want a different colour scheme
    link(rel="stylesheet", href="css/grey.css")

    // CSS: Application and Radio files
    link(rel="stylesheet", href="css/application.css")
    link(type="text/css", href="css/radio.css", rel="stylesheet")
    
    // Google Analytics
    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25240242-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body
    input(type='hidden', id='portConfig', value='#{config.port}')
    input(type='hidden', id='listenerLimit', value='#{config.listenerLimit}')
    input(type='hidden', id='djConfig', value='#{dj}')
    .wrap
      header.header
        hgroup
          h1 Rádio da Galere
          h4 O melhor de todos os estilos
      #container
        section.intro.vcard
          #limit-alert.alert Limite de ouvintes (#{config.listenerLimit}) foi atingido, caso já não esteja ouvindo, favor esperar até um ouvinte sair.
          #jplayer.jp-jplayer(style="padding-left:150px")
          .jp-audio#jp_container_1
            .jp-type-single
              #jp_interface_1.jp-interface
                ul.jp-controls
                  li
                    a.jp-play(href="javascript:void(0)", tabindex=1) play
                  li
                    a.jp-pause(href="javascript:void(0)", tabindex=1) pause
                  li
                    a.jp-stop(href="javascript:void(0)", tabindex=1) stop
                  li
                    a.jp-mute(href="javascript:void(0)", tabindex=1) mute
                  li
                    a.jp-unmute(href="javascript:void(0)", tabindex=1) unmute    
                .jp-volume-bar
                  .jp-volume-bar-value
                .stream-loading(style="display:none")
                  | Carregando...
                .jp-current-time
              #jp_playlist_1.jp-playlist
                ul(style="margin-left:-30px")
                  - if (track)
                    li#current_track
                      | Música:
                      span#track=track
                  li#current_dj
                    - if (dj)
                      | DJ:
                      span#dj=dj
                    - else
                      | Playlist:
                      span#playlist_name=playlist.name
                    .right
                      span#listeners=listeners 
                      |  ouvinte(s)
          .notice
            | Caso a música não esteja tocando, clique 
            a(href="javascript:void(0)", onclick="window.location.reload()") aqui
            | .

          section#social_links(style="margin-left:-10px")
            .left(style="margin-left:15px")
              iframe(src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fradiodagalere&amp;width=292&amp;colorscheme=light&amp;show_faces=false&amp;border_color&amp;stream=false&amp;header=true&amp;height=62", scrolling="no", frameborder="0", style="border:none; overflow:hidden; width:292px; height:62px;", allowTransparency="true")
            .left(style="margin-top:10px;margin-left:50px")
              a(href="http://twitter.com/radiodagalere", class="twitter-follow-button", data-lang="pt", data-show-count="false") Siga @radiodagalere
              br
              a(href="http://twitter.com/share", class="twitter-share-button", data-text="Tou curtindo o som da @radiodagalere, ouçam também em", data-count="horizontal", data-via="pedromtavares", data-lang="pt") Tweetar
            
        section.content
          ul.tabs.nav
            li
              a(href="#tab1") DJs
            li
              a(href="#tab2") Sobre
            li
              a(href="#tab3") Moonlight Podcast
        
          .tab_container
            
            #tab1.tab_content.social
              ul
                li.odd
                  a(href="http://soundcloud.com/pedromtavares", class="tooltip", title="Eletrônica", target="_blank")
                    img(src="images/djs/notionless.jpg", alt="NoTioNLeSS")
                    br
                    | NoTioNLeSS
                li.even
                  a(href="http://soundcloud.com/coreyinflames", class="tooltip", title="Eletrônica", target="_blank")
                    img(src="images/djs/corey.jpg", alt="Corey")
                    br
                    | Corey
            #tab2.tab_content.about
              br
              h4 O que é essa rádio?
              p A rádio é uma plataforma com dois intuitos: o primeiro de fazer com o que as pessoas possam compartilhar o que gostam de escutar com os amigos (ou o mundo inteiro), de se divertir e até conhecer músicas novas. O segundo é de divulgar o trabalho de qualquer profissional de música, podendo ter o alcance do mundo inteiro como seu público.
              h4 Posso divulgar então?
              p Se você curtiu a rádio, fique a vontade pra divulgá-la pra seus amigos tanto pelo <a href="http://www.facebook.com/radiodagalere", target="_blank">Facebook</a> quanto pelo <a href="http://twitter.com/radiodagalere", target="_blank">Twitter</a>.
              h4 Daonde vem essas músicas que tão tocando agora?
              p Caso não tenha um DJ online mandando músicas pra rádio, ela ativa uma espécie de 'DJ Automático' onde ela toca as músicas mais tocadas <a href="http://ex.fm" target="_blank">desse site</a>. Como cada pessoa (incluindo você!) pode mandar playlists para serem tocadas aqui, você pode nesse exato momento estar ouvindo a playlist de alguém. Para mandar uma playlist, basta clicar no botão bem grande que tem perto do player e uma janela vai aparecer com mais instruções.
              h4 Quero divulgar meu trabalho, como faço pra tocar meu som aqui? Vou ter que pagar?
              p Não, não precisa pagar! Só entrar em contato comigo enviando um email pra pedromateustavares@gmail.com que eu explico direitinho o processo pra tocar seu som aqui.
            #tab3.tab_content
              p.center.spaced 
                strong 
                  | Escute os episódios do nosso podcast de música eletrônica, Moonlight.
                  br
                  | Ao vivo aqui na Rádio todas as quintas, às 22h (23h no horário de verão)
              .center
                <iframe width="310" height="160" src="http://www.youtube.com/embed/AA1NwWQq3hg?controls=0&showinfo=0&showsearch=0&modestbranding=1"></iframe>
    
      footer#footer
        p Desenvolvido por <a href="http://pedromtavares.com" target="_blank">Pedro Mateus Tavares</a>.
        p.alt Este projeto é <a href="https://github.com/pedromtavares/radio" title="GitHub Repo" target="_blank">open-source</a>.
    // Javascript at the bottom for fast page loading
    script(type="text/javascript", src="js/libs/socket.io.js")
    script(type="text/javascript", src="js/libs/jquery.js")
    script(type="text/javascript", src="js/libs/jquery.jplayer.min.js")
    script(type="text/javascript", src="js/libs/jquery.fancybox.pack.js")
    script(type="text/javascript", src="js/application_mobile.js")
    script(src="js/template/plugins.js")
    script(src="js/template/script.js")
    script(type="text/javascript", src="http://platform.twitter.com/widgets.js")